html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* uigradients.com */
  background: linear-gradient(to right, #348ac7, #7474bf);

  display: flex;
  /* justify horizontally */
  justify-content: center;
  /* justify vertically */
  align-items: center;
}

.calculator {
  background: white;
  width: 400px;
  border-radius: 12px;
  /* x axis y axis spread blur color */
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* top left, top right, bottom left , bottom right */
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "lucida Console";
  overflow-x: auto;
}

/* custom scrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* applying grid layout to buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(199, 199, 199);
}
button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}
.operator {
  background: grey;
  color: white;
  font-size: 30px;
}

.clear {
  background: #b7261b;
  color: white;
}

.clear:hover {
  filter: (110%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: #1c9220;
}

/* Media query they need to override all */
/* large smartphone */

/* anything less than 600 px will be affected by this styling. 599px the content will change */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
